@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
    @apply  text-4xl sm:text-6xl md:text-8xl
}

.h3 {
    @apply text-xl sm:text-2xl md:text-3xl
}

.h4 {
    @apply text-lg sm:text-xl md:text-2xl 
}

.p {
    @apply text-base sm:text-lg
}